
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python-do-zero-ao-DS.iml
.ipynb_checkpoints/aula03-checkpoint.ipynb
.ipynb_checkpoints/exercicios3-checkpoint.ipynb
.ipynb_checkpoints/aula04-checkpoint.ipynb
.ipynb_checkpoints/exercicios4-checkpoint.ipynb
.ipynb_checkpoints/aula05-checkpoint.ipynb
.idea/workspace.xml
.ipynb_checkpoints/exercicios5-checkpoint.ipynb
